.issue
    padding: 3px 13px 1px 1px;

    .title
        font-size: 15px;
        font-weight:bold;

    .input-search-issue
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        border-radius: 5px;
        height: 25px;
        padding: 5px;
        font-size: 12px;
        margin-bottom: 10px;
