@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body
    font-family: 'Open Sans';

.header-page
    position: fixed;
    background: #0489b1;
    width: 100%;
    box-shadow: 5px 3px 5px #888888;
    top: 0;
    left: 0;

    *
        padding-top: 20px;
        padding-bottom: 20px;

    .input-search
        margin-left: 10px;
        margin-right: 10px;
        width: 500px;
        border-radius: 5px;
        height: 25px;
        padding: 5px;
        font-size: 12px;

    .title
        font-size: 20px;
        color: #FFF;
        padding-left: 20px;

.content
    margin-top: 80px;
    height:100%;

    section
        padding: 10px;

.footer
    text-align: center;
    font-size: 10px;

.search-advanced
    font-size: 10px;
    box-shadow: 5px 3px 5px #888888;
    width: 300px;
    padding: 10px;
    position: absolute;
    margin-top: 0px;
    margin-left: 55%;
    z-index: 9999;
    background: #FFF;
    border-top: solid 1px #E6E6E6;
    border-left: solid 1px #E6E6E6;
    height: 300px;

    .title
        font-size: 12px;

    label
        display: inline-block;
        margin-bottom: .5rem;

    input
        display: block;
        padding: 5px;
        color: #55595c;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;

.loading
    background: url('../img/loading.gif') no-repeat;
    display: inline-block;
    width: 100px;
    padding: 5px;

.icon-click
    cursor: pointer;
