.main
    margin: 10%
    margin-top: 3%

.menu-float-edit
    position: fixed
    top: 20%
    right: 0
    width: 10%
    height: 10%
    max-width: 55px
    min-height: 150px
    list-style: none
    background-color: #E8AE0C
    -webkit-border-top-left-radius: 10px
    -webkit-border-bottom-left-radius: 10px
    -moz-border-radius-topleft: 10px
    -moz-border-radius-bottomleft: 10px
    border-top-left-radius: 10px
    border-bottom-ledt-radius: 10px
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)

.menuFloat span:before
    font-size: 15pt

.editor
    width: 100% !important

.editor h2
    padding-top: 30px
    padding-bottom: 30px
